<nav class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand" href="/">
                <h2 class="logo-font"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>ESPN MONGO NEWS</h2>
            </a>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse" id="bs-collapse-1">

            <ul class="nav navbar-nav navbar-right">

                <li> <a href="/scrape">SCRAPE</a> </li>
                <li> <a href="/dump-articles">DUMP ARTICLES</a> </li>
                <li> <a href="/dump-notes">DUMP NOTES</a> </li>

            </ul>

        </div>

    </div>
</nav>
