
<div class="container" id="main-container">
  <div id="articles">
    <ul>
      {{#each articles}}
          <li>
              <strong>{{this.title}}</strong>
            <br>
            <a href="http://www.espn.com"{{this.link}} target="_blank">READ THIS ARTICLE</a>
            <br>
                <button class="btn btn-info newNote" data-id={{this._id}} type="submit">Add A Note</button>

          </li>
      {{/each}}
    </ul>
  </div>

  <div id="notes">

  </div>
</div>