
<div class="container" id="main-container">
  <div id="articles">
    <ul>
      {{#each articles}}
          <li>
            {{this.title}}
            {{this.link}}
          </li>
      {{/each}}
    </ul>
  </div>
</div>